@import "@/styles/__variables.scss";
@import "@/styles/__breakpoints.scss";

img {
  width: 100px;
}

.aboutContainer {
  gap: 20px;

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .aboutContent {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 10px;

      .aboutTitle {
        font-size: 1.8rem;
        font-weight: 700;
      }

      .aboutInfo {
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
      }
    }

    .aboutSocialMedia {
      display: flex;
      gap: 15px;

      span {
        i {
          font-size: 1.5rem;
          cursor: pointer;

          &:hover {
            transition: ease-in 0.3s all;
            color: $color-primary;
          }

          &:not(:hover) {
            transition: ease-in 0.3s all;
          }
        }
      }
    }
  }
  .aboutImg {
    width: 200px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0 6px 10px rgba(109, 113, 121, 0.6);
    border-radius: 10px;
  }

  @media (min-width: $breakpoint-tablet-sm) {
    flex-direction: row-reverse;
    gap: 50px;

    .aboutTitle {
      font-size: 2rem;
    }

    .aboutInfo {
      font-size: 1.8rem;
    }

    .aboutSocialMedia {
      span {
        i {
          font-size: 2rem;
        }
      }
    }
  }

  @media (min-width: $breakpoint-tablet-md) {
  }

  @media (min-width: $breakpoint-desktop-sm) {
    flex-direction: row-reverse;

    .aboutImg {
      width: 450px;
      height: auto;
    }

    .aboutWrapper {
      width: 100%;

      .aboutContent {
        width: 100%;
        .aboutTitle {
          font-size: 2.8em;
        }
        .aboutInfo {
          font-size: 1.4rem;
        }
      }

      .aboutSocialMedia {
        span {
          i {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-desktop-lg) {
    .aboutImg {
      width: 500px;
    }

    .aboutWrapper {
      .aboutContent {
        .aboutTitle {
          font-size: 3.2rem;
        }
        .aboutInfo {
          font-size: 1.6rem;
        }
      }

      .aboutSocialMedia {
        span {
          i {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}
