@import '@/styles/__variables.scss';
@import '@/styles/__breakpoints.scss';

.contactSection {
  flex-direction: column;
  gap: 40px;

  .contactTitle {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-dark-green;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    .contactLeft {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: end;
      gap: 20px;

      .contactTexts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .contactText {
          font-size: 1rem;
          font-weight: 300;
          text-align: justify;
        }
      }
      .contactButton {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        .whatsappIcon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .lineColumn {
      width: 100%;
      height: 2px;
      background-color: $color-dark-green;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .contactLabel {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .labelText {
          font-size: 1rem;
          font-weight: 400;
          color: $color-dark-green;
        }

        .labelInput {
          width: 100%;
          background: none;
          border: solid 1px $color-dark-green;
          padding: 5px;
          border-radius: 30px;
          color: $color-dark-green;
        }

        .labelTextarea {
          width: 100%;
          background: none;
          border: solid 1px $color-dark-green;
          padding: 5px;
          border-radius: 10px;
          color: $color-dark-green;
        }
      }
    }
  }
}
