@import '@/styles/__variables.scss';
@import '@/styles/__breakpoints.scss';

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ratingTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .arrayRatings {
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #757575;
      border-radius: 20px;
    }
  }

  .arrayRatingsContent {
    display: flex;
    gap: 16px;
    padding: 10px;
    min-width: 100%;
    
  }

  .cardWrapper {
    flex: 0 0 auto;
  }

  @media (min-width: $breakpoint-tablet-sm) {
    .ratingTitle {
      font-size: 2rem;
    }

    .arrayRatingsContent {
      gap: 20px;
    }
  }

  @media (min-width: $breakpoint-desktop-sm) {
    height: 100vh;
  }
}
