@import '@/styles/__variables.scss';
@import '@/styles/__breakpoints.scss';

.tipsSection {
  flex-direction: column;
  justify-content: normal;
  align-items: start;
  gap: 30px;

  .tipsTitle {
    font-size: 2rem;
    color: $color-dark-green;
    font-weight: 600;
  }

  @media (min-width: $breakpoint-mobile-sm) {

  }
}
