@import '@/styles/__variables.scss';
@import '@/styles/__breakpoints.scss';

.tipsSection {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;

  .tipsTitle {
    font-size: 2rem;
    color: $color-dark-green;
    font-weight: 700;
  }

  .cardsContainer {
    width: 100%;
  }

  @media (min-width: $breakpoint-desktop-sm) {
    height: 100vh;

    .tipsTitle {
      font-size: 2.8rem;
    }
  }

  @media (min-width: $breakpoint-desktop-lg) {
    .tipsTitle {
      font-size: 3.2rem;
    }
  }
}
