$color-bg: #ede7f6;
$color-primary: #a5d6a7;
$color-secondary: #43a047;
$color-primary-text: #f5f5dc;
$color-secondary-text: #757575;
$color-dark-green: #16463F;

$font-family-nunito: 'Nunito', sans-serif;
$font-family-lora: 'Lora', serif;
$font-family-quicksand: 'Quicksand', sans-serif;