@import "@/styles/__variables.scss";
@import "@/styles/__breakpoints.scss";

.section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: $breakpoint-tablet-sm) {
    align-items: center;
  }

  @media (min-width: $breakpoint-desktop-sm) {
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
  }
}
